body {
        background-color: red;
        width: 300px;
        font-size: 12px;
}

#medium {
    display: block;
}

#large {
    display: block;
}

h1 {
    font-size: 2em;
}

@media only screen and (min-width: 300px) {
    body {
        background-color: green;
        font-size: 20px;
    }
    
    h1 {
        font-size: 2em;
    }

    #small {
        display: block;
        width: 60vw;
    }

    #medium {
        display: block;
        width: 20vw;
    }
    
    #large {
        display: block;
        width: 90vw;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
        font-size: 24px;
    }


    h1 {
        font-size: 2em;
    }

    #small {
        display: inline-block;
        width: 20vw;
    }
    
    #medium {
        display: inline-block;
        width: 20vw;
    }

    #large {
        display: inline-block;
        width: 20vw;
    }
}